{% extends "index/base.html" %}

{% block title %}{{Guide}}{% endblock %}

{% block header %}{% endblock %}

{% block content %}

<div class="row justify-content-md-center">       
    <form class="form-signin col-4" action="/login" method="POST" id="myForm">
        <div class="fs-4" style="text-align:center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
            class="bi bi-house" viewBox="0 0 16 16">
            <path
                d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z" />
        </svg>
            Login 
        </div>
        <div>
            <label for="inputEmail" class="sr-only">User ID</label>
        </div>
        <input type="number" name="userid" class="form-control" placeholder="" required>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="pwd" class="form-control" placeholder="" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <div style="text-align:center">
            <button class="btn btn-primary" type="submit">Sign in</button>
        </div>
    </form>
</div>

{% endblock %}

