{% extends "admin/a_base.html" %}

{% block title %}{{Detail}}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
{% for detail in detail_list %}
<div style="text-align:center">
  <button type="button" class="btn btn-primary" onclick="Values('{{ detail[0] }}','{{ detail[3]|urlencode }}','{{ detail[4]|urlencode }}','{{ detail[5]|urlencode }}','{{ detail[6]|urlencode }}','{{ detail[7]|urlencode }}')" data-bs-toggle="modal" data-bs-target="#exampleModal{{ detail[0] }}">Edit</button>
  <button type="button" class="btn btn-primary" onclick="Valuesdel('{{ detail[0] }}')" data-bs-toggle="modal" data-bs-target="#deletemodel{{ detail[0] }}" >Delete</button>
</div>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Type</th>
        <th scope="col">Present in NZ</th>
        <th scope="col">Common Name</th>
        <th scope="col">Scientific name</th>
        <th scope="col">Primary Image</th>
        <th scope="col">Click the images to edit⬇️</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>{{detail[0]}}</th>
        <td>{{detail[1]}}</td>
        <td>{{detail[2]}}</td>
        <td>{{detail[3]}}</td>
        <td>{{detail[4]}}</td>
        <td>
          <img class="img-rounded" src="data:;base64,{{ detail[8] }}" width=auto height="200px">
        </td>
        <td>
          <div style="height:50px">
            <div class="h-50 d-inline-block" style="width: 200px;">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner ">
                {% for images in image_list %}
                <div class="carousel-item active">
                  <img class="mx-auto d-block" width=auto height="200px" onclick="Valuesimg('{{ images[0] }}','{{ images[1] }}','{{ images[0] }}','{{ images[1] }}')"  src="data:;base64,{{ images[2] }}" data-bs-toggle="modal" data-bs-target="#imgmodal{{ detail[0] }}">
                </div>
                {% endfor %}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          </div>
        </td>
      </tr>
     
    </tbody> 
  </table>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Key characteristics</th>
        <th scope="col">Biology/Description</th>
        <th scope="col">Symptoms</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{detail[5]}}</td>
        <td>{{detail[6]}}</td>
        <td>{{detail[7]}}</td>
      </tr>   
    </tbody>
  </table>

<!-- Modal edit-->
<div class="modal fade" id="exampleModal{{ detail[0] }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Detail</h5>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="form-horizontal" style="margin-top: 40px;" action="/admin/detail" method="POST" id="myForm">
            <div class="col-md-6 mb-3">
              <label for="idnum" class="col-form-label">ID</label>
              <input type="text" class="form-control" name="idnum" id="idnum" readonly>
            </div>
          <div class="row">
          <div class="col-md-6 mb-3">
            <label for="group1" class="col-form-label">Type: </label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="group1" value="pest" {% if detail[1] == 'pest' %} checked {% endif %}>
              <label class="form-check-label" for="group1">Pest</label>            
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="group1" value="disease" {% if detail[1] == 'disease' %} checked {% endif %}>
              <label class="form-check-label" for="group1">Disease</label>
            </div>
          </div>   
          <div class="col-md-6 mb-3">
            <label for="group2" class="col-form-label">Present in NZ: </label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="group2" value="1" {% if detail[2] == 'yes' %} checked {% endif %}>
              <label class="form-check-label" for="group2">Yes</label>            
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="group2" value="0" {% if detail[2] == 'no' %} checked {% endif %}>
              <label class="form-check-label" for="group2">No</label>
            </div>
          </div>
         </div>
         <div class="row">
          <div class="col-md-6 mb-3">
            <label for="common" class="col-form-label">Common Name</label>
            <input type="text" class="form-control" name="common" id="common">
          </div>
          <div class="col-md-6 mb-3">
            <label for="scientific" class="col-form-label">Scientific Name</label>
            <input type="text" class="form-control" name="scientific" id="scientific">
          </div>
         </div>
          <div class="mb-3 text-truncate">
            <label for="key" class="col-form-label">Key characteristics</label>
            <textarea class="form-control" name="key" id="key"></textarea>
          </div>
          <div class="mb-3 text-truncate">
            <label for="biology" class="col-form-label">Biology/Description</label>
            <textarea class="form-control" name="biology" id="biology"></textarea>
          </div>
          <div class="mb-3 text-truncate">
            <label for="symptoms" class="col-form-label">Symptoms</label>
            <textarea class="form-control" name="symptoms" id="symptoms"></textarea>
          </div>
        </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="myForm" name="edit" value="edit">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal delete-->
<div class="modal fade" id="deletemodel{{ detail[0] }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete the detail</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you want to delete this detail?
      </div>
      <form class="form-horizontal" style="margin-top: 40px;" action="/admin/detail" method="POST" id="myForm1">
        <input type="hidden" class="form-control" name="id" id="id">
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" form="myForm1" name="delete" value="delete">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal image change-->
<div class="modal fade" id="imgmodal{{ detail[0] }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Images</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you want to Save this image as the primary image or Delete this image?
      </div>
      <form class="form-horizontal" style="margin-top: 40px;" action="/admin/detail" method="POST" id="myForm2">
        <input type="hidden" class="form-control" name="img" id="img">
        <input type="hidden" class="form-control" name="forestry" id="forestry">
      </form>
      <form class="form-horizontal" style="margin-top: 40px;" action="/admin/detail" method="POST" id="myForm3">
        <input type="hidden" class="form-control" name="img1" id="img1">
        <input type="hidden" class="form-control" name="forestry1" id="forestry1">
      </form>
      <div class="modal-footer">
        <button type="submit" class="btn btn-danger" form="myForm2" name="delimg" value="delimg">Delete</button>
        <button type="submit" class="btn btn-primary"form="myForm3" name="save" value="save">Save as Primary Image</button>
      </div>
    </div>
  </div>
</div> 

{% endfor %}


<script>
  // get the radio
  const radioButtonsGroup1 = document.querySelectorAll('input[name="group1"]');  // type
  const radioButtonsGroup2 = document.querySelectorAll('input[name="group2"]');  // present in nz
  
  radioButtonsGroup1.forEach(function(radioButton) {
    radioButton.addEventListener('change', function(event) {
      // get the value of the radiao
      const selectedValue = document.querySelector('input[name="group1"]:checked').value;
      console.log('Selected value of group 1:', selectedValue);
    });
  });

  radioButtonsGroup2.forEach(function(radioButton) {
    radioButton.addEventListener('change', function(event) {
      // get the value of the radiao
      const selectedValue = document.querySelector('input[name="group2"]:checked').value;
      console.log('Selected value of group 2:', selectedValue);
    });
  });


  // get the info when edit
  function Values(idnum,common, scientific, key, biology, symptoms) {
    common = decodeURIComponent(common);
    scientific = decodeURIComponent(scientific);
    key = decodeURIComponent(key);
    biology = decodeURIComponent(biology);
    symptoms = decodeURIComponent(symptoms);

    document.getElementById("idnum").value = idnum;
    document.getElementById("common").value = common;
    document.getElementById("scientific").value = scientific;
    document.getElementById("key").value = key;
    document.getElementById("biology").value = biology;
    document.getElementById("symptoms").value = symptoms;
}

// get the info when delete
function Valuesdel(id) {
    document.getElementById("id").value = id;
}

// get the info when edit images
function Valuesimg(img,forestry,img1,forestry1) {
    document.getElementById("img").value = img;
    document.getElementById("forestry").value = forestry;
    document.getElementById("img1").value = img1;
    document.getElementById("forestry1").value = forestry1;
}

</script>


{% endblock %}