{% extends "admin/a_base.html" %}

{% block title %}{{Staff}}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Role</th>
        <th scope="col">First name</th>
        <th scope="col">Family name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Hire date</th>
        <th scope="col">Position</th>
        <th scope="col">Department</th>
        <th scope="col">Status</th>
        <th scope="col">Password</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      {% for profile in staff_list %}
      <tr>
        <th scope="row">{{profile[0]}}</th>  <!--id-->
        <td>{{profile[1]}}</td>              <!--Role-->
        <td>{{profile[2]}}</td>              <!--first name-->
        <td>{{profile[3]}}</td>              <!--family name-->
        <td>{{profile[5]}}</td>              <!--email-->
        <td>{{profile[6]}}</td>              <!--phone-->
        <td>{{profile[7]}}</td>              <!--hire date-->
        <td>{{profile[8]}}</td>              <!--position-->
        <td>{{profile[9]}}</td>              <!--department-->
        <td>                                 <!--status--> 
          {% if profile[4] == 1 %}
            active
          {% else %}
            inactive
          {% endif %}  
        </td>             
        <td>********</td>
        <td>
          <div style="text-align:center">
            <button type="button" class="btn btn-primary btn-sm" onclick="Values('{{ profile[0] }}','{{ profile[2] }}','{{ profile[3] }}','{{ profile[5] }}','{{ profile[6] }}','{{ profile[7] }}')" data-bs-toggle="modal" data-bs-target="#exampleModal" >Edit</button>
            <button type="submit" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#exampleAdd" >Add</button>
            <button type="submit" class="btn btn-danger btn-sm" onclick="Valuesdelete('{{ profile[0] }}')" data-bs-toggle="modal" data-bs-target="#exampleDelete{{ profile[0] }}" >Delete</button>
         </div>
        </td>
      </tr>
      <!-- Modal delete -->
      <div class="modal fade" id="exampleDelete{{ profile[0] }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete the staff</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Do you want to delete the staff?
            </div>
            <form class="form-horizontal" style="margin-top: 40px;" action="/admin/sprofile" method="POST" id="myForm_d">
              <input type="hidden" class="form-control" name="id_del" id="id_del">
            </form>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" form="myForm_d" name="del_s" value="del_s">Delete</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal edit-->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit profile</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <form class="form-horizontal needs-validation" style="margin-top: 40px;" action="/admin/sprofile" method="POST" id="s_myForm" >
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="message-text" class="col-form-label">ID</label>
                      <input type="text" class="form-control" name="a_id" id="a_id" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="message-text" class="col-form-label">Role</label>
                      <select class="form-select" id="a_role" name="a_role">
                        <option value="staff" {% if profile[1]=="staff" %} selected {% endif %}>staff</option>
                        <option value="admin" {% if profile[1]=="admin" %} selected {% endif %}>admin</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="message-text" class="col-form-label">First name</label>
                      <input type="text" class="form-control" name="a_first" id="a_first">
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="message-text" class="col-form-label">Family name</label>
                      <input type="text" class="form-control" name="a_family" id="a_family">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="message-text" class="col-form-label">Email</label>
                      <input type="email" class="form-control" name="a_email" id="a_email">
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="message-text" class="col-form-label">Phone</label>
                      <input type="tel" maxlength="11" class="form-control" name="a_phone" id="a_phone" placeholder="Please enter an 11-digit phone number.">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="message-text" class="col-form-label">Hire Date</label>
                      <input type="date" class="form-control" name="a_date" id="a_date">
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="message-text" class="col-form-label">Position</label>
                      <select class="form-select" id="a_ps" name="a_ps">
                        <option value="manager" {% if profile[8]=="manager" %} selected {% endif %}>manager</option>
                        <option value="technician" {% if profile[8]=="technician" %} selected {% endif %}>technician</option>
                        <option value="clerk" {% if profile[8]=="clerk" %} selected {% endif %}>salesperson</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="message-text" class="col-form-label">Department</label>
                      <select class="form-select" id="depar" name="depar">
                        <option value="HR" {% if profile[9]=="HR" %} selected {% endif %}>HR</option>
                        <option value="IT" {% if profile[9]=="IT" %} selected {% endif %}>IT</option>
                        <option value="business" {% if profile[9]=="business" %} selected {% endif %}>business</option>
                      </select>
                    </div>
                    <div class="col-md-6 mb-3">
                      <div><label for="message-text" class="col-form-label">Status</label></div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="group1" value=1 {% if profile[4]==1 %} checked {% endif %}>
                        <label class="form-check-label" for="group1">active</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="group1" value=0 {% if profile[4]==0 %} checked {% endif %}>
                        <label class="form-check-label" for="group1">inactive</label>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="message-text" class="col-form-label">Original password</label>
                    <input type="text" class="form-control" name="a_pass" id="a_pass"
                      placeholder="If you want to change your password, please input your original password.">
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="message-text" class="col-form-label">New password</label>
                      <input type="text" class="form-control" name="a_passn" id="a_passn">
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="message-text" class="col-form-label">Confirm new password</label>
                      <input type="text" class="form-control" name="a_passc" id="a_passc">
                    </div>
                  </div>
                </form>
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" form="s_myForm" name="edit_s" value="edit_s">Save changes</button>
            </div>
        </div>
        </div>
      </div>
      <!-- Modal add -->
      <div class="modal fade" id="exampleAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit profile</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <form class="form-horizontal needs-validation" style="margin-top: 40px;" action="/admin/sprofile" method="POST" id="sadd_myForm" >            
                  <div class="row">
                    <div class="col-6">
                      <label class="form-label">First name</label>
                      <input type="text" class="form-control text-capitalize" name="firstname" required>
                    </div>
                    <div class="col-6">
                      <label class="form-label">Family name</label>
                      <input type="text" class="form-control text-capitalize" name="familyname" required>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <label class="form-label">Phone</label>
                      <input type="tel" maxlength="11" class="form-control" name="phone" placeholder="Please enter an 11-digit phone number." required>
                    </div>
                    <div class="col-6">
                      <label class="form-label">Email</label>
                      <input type="email" class="form-control" name="email" class="form-control" required>
                    </div>
                  </div>

                  <div class="row">
                      <div class="col-6">
                        <label for="message-text" class="col-form-label">Position</label>
                        <select class="form-select" id="a_ps" name="a_ps">
                          <option value="None" selected>None</option>
                          <option value="technician" >technician</option>
                          <option value="salesperson">salesperson</option>
                        </select>
                      </div>
                      <div class="col-6">
                        <label for="message-text" class="col-form-label">Department</label>  
                        <select class="form-select" id="depar" name="depar">
                          <option value="HR" {% if profile[9]=="HR" %} selected {% endif %}>HR</option>
                          <option value="IT" {% if profile[9]=="IT" %} selected {% endif %}>IT</option>
                          <option value="business" {% if profile[9]=="business" %} selected {% endif %}>business</option>
                        </select>
                      </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <label class="form-label">Date joined</label>
                      <input type="date" class="form-control" name="date" class="form-control" required>
                    </div>                  
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <label class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" aria-describedby="emailHelp" required>
                      <div id="emailHelp" class="form-text">Your password must be 8-20 characters long and have a mix of character types.</div>          
                    </div>
                    <div class="col-6">
                      <label class="form-label">Password Confirm</label>
                      <input type="password" name="pass_confirm" class="form-control" required>         
                    </div>
                  </div>

                  <div class="form-check" style="padding:35px 25px">
                    <input type="checkbox" class="form-check-input" id="inlineFormCheck" required>
                    <label class="form-check-label" for="inlineFormCheck">Check me out</label>
                  </div>
                  <div style="text-align: center; padding:10px">
                    <button type="submit" class="btn btn-primary" form="sadd_myForm" name="add_s" value="add_s" >Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>  
        </div>
      </div>  
      {% endfor %}
    </tbody>
</table>


<script>
// get the radio of status_now (radio)
const radioButtonsGroup1 = document.querySelectorAll('input[name="group1"]');  

radioButtonsGroup1.forEach(function(radioButton) {
  radioButton.addEventListener('change', function(event) {
    // get the value of the radiao
    const selectedValue = document.querySelector('input[name="group1"]:checked').value;
    console.log('Selected value of group 1:', selectedValue);
  });
});


// get the info from table (input)
function Values(a_id,a_first,a_family,a_email,a_phone,a_date) {
  document.getElementById("a_id").value = a_id;
  document.getElementById("a_first").value = a_first;
  document.getElementById("a_family").value = a_family;
  document.getElementById("a_email").value = a_email;
  document.getElementById("a_phone").value = a_phone;
  document.getElementById("a_date").value = a_date;
}


  // get the department,roles,position info (selected)
  $(document).ready(function() {
  $('#depar').on('change', function () {
    var selectedValue = $(this).val();
    console.log(selectedValue);
  });

  $('#a_role').on('change', function () {
    var selectedValue1 = $(this).val();
    console.log(selectedValue1);
  });

  $('#a_ps').on('change', function () {
    var selectedValue2 = $(this).val();
    console.log(selectedValue2);
  });
});

// get the info when delete
function Valuesdelete(id_del) {
    document.getElementById("id_del").value = id_del;
}

</script>
{% endblock %}