{% extends "forester/f_base.html" %}

{% block title %}{{Guide}}{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Type</th>
        <th scope="col">Present in NZ</th>
        <th scope="col">Common Name</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
      {% for guide in guide_list %}
      <tr>
        <th>{{guide[0]}}</th>
        <td>{{guide[1]}}</td>
        <td>{{guide[2]}}</td>
        <td>{{guide[3]}}</td>
        <td>
            <form action="/foreseter/f_detail" method="get">
              <a href="{{ url_for('forester.f_detail',forestry_id=guide[0])}}"><img class="img-rounded" src="../static/imgdata/{{ guide[4] }}" width=auto height="30px"></a>
            </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <nav class="pagination-container d-flex justify-content-center" aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item {% if page == 1 %} disabled {% endif %}">
        <a class="page-link" href="?page={{ page-1 }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% for p in range(1, total_pages +1) %}
      <li class="page-item {% if page == p %} active {% endif %}"><a class="page-link" href="?page={{p}}">{{p}}</a></li>
      {% endfor %}
      
      <li class="page-item {% if page == total_pages or total_page == 0 %}disabled {% endif %}">
        <a class="page-link" href="?page={{ page+1 }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
{% endblock %}