{% extends "forester/f_base.html" %}

{% block title %}{{Profile}}{% endblock %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First name</th>
        <th scope="col">Family name</th>
        <th scope="col">Address</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Date Joined</th>
        <th scope="col">Password</th>

      </tr>
    </thead>
    <tbody>
    {% for profile in profile_list %}
      <tr>
        <th scope="row">{{profile[0]}}</th>
        <td>{{profile[2]}}</td>
        <td>{{profile[3]}}</td>
        <td>{{profile[5]}}</td>
        <td>{{profile[6]}}</td>
        <td>{{profile[7]}}</td>
        <td>{{profile[8]}}</td>
        <td>*****</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

<div style="text-align:center">
    <button class="updateBtn btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" type="button">Edit</button>
</div>



  <script>
    $('#myModal').on('show.bs.modal', function (event) {
        $("textarea[name = refuseTextareaContext]").innerHTML = "";
        var btnThis = $(event.relatedTarget);// 触发事件的按钮
        var modal = $(this);// 当前模态框
        var modalId = btnThis.data ('id');// 解析出 data-id 的内容
        aa= btnThis.closest ('tr').find ('td').eq (0).text ();// 获取某一列的内容 eq 后面表示列数
        bb= btnThis.closest('tr').find('td').eq(1).text();
        $("#aa").val(aa);
        $("#bb").val(bb);
    });
    </script>


{% endblock %}